h2{
    text-align: center;
}
.navbar{
    height: 150px;
    --bs-bg-opacity: 1;
    text-align: right;
    background-color: rgba(var(--bs-tertiary-bg-rgb),var(--bs-bg-opacity))!important;
}

#principal{
    margin-top: 150px;
    background-image: url(./img/Perro.jpg);
    background-repeat: no-repeat;
    background-position: center center;
   background-size: cover;
    height: 40rem;
    }